html {
	background: $footer-color;
}

body {
	min-width: $min-width;
	background: $background-color;
}

.constrained {
	@include constrained;
}

.hero {
	@include constrained;
	padding: 2.5% 5% 2.5%;
	text-align: center;
}

.info {
	@include constrained;
	padding: 0 5% 2.5%;
	text-align: center;	
}